<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-3 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">&copy; {{site.copyright}}</span>

    </div>

    {%- if page.license -%}
    <div class="col-md-2 d-flex align-items-right">
      <a href="{{ page.license-link }}">
        <img src="{{ page.license-image }}" alt="{{ page.license }}"/>
      </a>
    </div>
    {%- elsif site.default-license -%}
    <div class="col-md-2 d-flex align-items-right">
      <a href="{{ site.default-license-link }}">
        <img src="{{ site.default-license-image }}" alt="{{ site.default-license }}"/>
      </a>
    </div>
    {%- endif -%}

    <div class="col-md-3 d-flex align-items-center">
    <span class="mb-3 mb-md-0">{{- site.description | escape -}}</span>
    </div>
    <div class="col-md-1 d-flex align-items-right">
      <a href="privacy.html">Privacy</a>
    </div>
  
    {%- include social.html -%}
  </footer>
</div>
