---
layout: default
---

{{ content }}

{% for gallery in site.data.galleries %}
  <h2>{{gallery.name}}</h2>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% for image in gallery.images %}
        <div class="col">
          <div class="card shadow-sm">
            <a href="/assets/screenshots/{{image.image}}"><img src="/assets/screenshots/{{image.thumbnail}}" width="100%" height="225"></a>
    
            <div class="card-body">
              <p class="card-text">{{image.caption}}</p>
            </div>
          </div>
        </div>
      {% endfor %}    
      </div>
    </div>
  </div>
{% endfor %}
