---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="container">
    {{ content }}
  </div>

  {% assign rows = site.projects.size | divided_by: 2.0 | ceil %}
  {% for i in (1..rows) %}
  <div class="row align-items-md-stretch mt-3">
    {% assign offset = forloop.index0 | times: 2 %}
    {% for project in site.projects limit:2 offset:offset %}
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h1>{{ project.title | escape }} </h1>
        {% if project.project-github-url %}
          <a href="{{project.project-github-url}}"><svg class="bi" width="24" height="24"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg><span>Source Code</span></a>
        {% endif%}
        {% if project.project-github-latest %}
          <a href="{{project.project-github-latest}}"><span>Download</span></a>
        {% endif%}
        {% if project.project-github-action-status %}
          <br/>
          <img src="{{project.project-github-action-status}}" alt="Build Status"/><br/>
        {% endif%}
        <p>{{ project.content }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</article>
